// Colours
$primary-color: #00BCC8;
$primary-color-alt: #0080C8;
$white: #FFF;
$black: #000;

// Font weights
$font-weight-bold: 900;
$font-weight-regular: 600;
$font-weight-light: 200;

// Font sizes
$page-title-size: 48px;
